
h1 {
  display: none;
}


@media screen and (max-width: 576px) {
  .Mobile {
    display: block;
  }
  body {
    background-color: red;
  }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
  .Tablet {
display: block;
  }
body { 
background-color: yellowgreen;
}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .Laptop {
display: block;
  }
body { 
background-color: blue;
}
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .Desktop {
display: block;
  }
body { 
background-color: darkcyan;
}
}
@media screen and (min-width: 1200px) {
  .Huge {
    display: block;
      }

 body{
  background-color: pink;
 }     

}

